<?xml version="1.0"?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition"
      switchValue="All">
        <listeners>
          <add name="fileListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>-->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Techne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Techne.Properties.Settings>
            <setting name="CameraInertiaFactor" serializeAs="String">
                <value>0.93</value>
            </setting>
            <setting name="InfiniteSpin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraRotationMode" serializeAs="String">
                <value>TwoAxis</value>
            </setting>
            <setting name="CameraMode" serializeAs="String">
                <value>Inspect</value>
            </setting>
            <setting name="ShowCameraTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModelUpDirection" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="Orthographic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RotationSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowCoordinateSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFieldOfView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFrameRate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowViewCube" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="FocusSelectedShape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FollowSelectedShape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="WindowWith" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetSphereRadius" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowNewProjectDialogOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRadians" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConsoleQuakeStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoReportErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DecorationOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AskedPermission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveIntervall" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DisplaySingleOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextureCaptionModus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportTextureCaptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskTextureResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWireFrame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAnchorPoint" serializeAs="String">
                <value>True</value>
            </setting>
        </Techne.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
